* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: #e3e3dc;
  font-family: "Roboto", sans-serif;
}

.message {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.85);
}

.plus {
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.plus:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.plus:active {
  font-size: 1.5rem;
}

.note {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #e9eb86;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px;
}
.close {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.close:hover {
  cursor: pointer;
  outline: none;
}

.close:active {
  font-size: 1.5rem;
  outline: none;
}

.txt-title {
  background-color: transparent;
  font-size: 2rem;
  border: none;
}

.txt-title:focus {
  outline: none;
}

.txt-note {
  overflow: hidden;
  resize: none;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  outline: none;
}

.waitingText {
  color: rgb(255, 200, 0);
}
